<%= content_for(:title, "Calculation result") %>
<div class="container">
	<h3>Calculation result</h3>
	<hr>
	<div class="col-md-7" style="margin-left:200px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Stock name</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Percentage</th>
					<th>Years</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @result.stock_name %></td>
					<td><%= @result.price %></td>
					<td><%= @result.quantity %></td>
					<td><%= @result.percentage %></td>
					<td><%= @result.years %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-7" style="margin-left:200px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Year</th>
					<th>Growth</th>
				</tr>
			</thead>
			<tbody>
				<% @data.each do |g|%>
					<tr>
						<td><%= g[:year] %></td>
						<td><%= g[:growth] %></td>
					<tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>