<%= content_for(:title, "Stock productivity calculator") %>
<div class="container">
	<h3>Calculated data</h3>
	<hr>
	<div class="col-md-7" style="margin-left:200px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Stock name</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Percentage</th>
					<th>Years</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @stock.stock_name %></td>
					<td><%= @stock.price %></td>
					<td><%= @stock.quantity %></td>
					<td><%= @stock.percentage %></td>
					<td><%= @stock.years %></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-7" style="margin-left:200px;">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Year</th>
					<th>Growth</th>
				</tr>
			</thead>
			<tbody>
				<% @values.each do |s|%>
					<tr>
						<td><%= s[:year] %></td>
						<td><%= s[:growth] %></td>
					<tr>
				<% end %>
			</tbody>
		</table>
	</div>
<a href="/home" class="btn btn-success">Back</a>
</div>